.container {
  padding: 64px;
  width: fit-content;
  position: relative;
  min-width: 100%;
  min-height: 100%;

  >h1 {
    margin-bottom: 8px;
  }

  >p {
    font-style: italic;
    font-size: 14px;
  }

  >ul {
    line-height: 32px;
  }

  >.buttons {
    position: absolute;
    top: 64px;
    right: 64px;
    display: flex;
    gap: 16px;

    >button {
      width: 48px;
      height: 48px;
      padding: 0;
      background: transparent;
      font-size: 48px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  >.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;

    >input {
      padding: 12px;
      font-size: 16px;
      border: 2px solid #ddd;
      border-radius: 8px;
      width: 400px;
    }

    >select {
      padding: 12px;
      font-size: 16px;
    }
  }

  >.table {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;

    >.row {
      display: flex;

      &:first-of-type {
        font-weight: bold;
        text-align: center;
      }

      &:not(&:last-of-type) {
        border-bottom: 1px solid #000;
      }

      &:nth-of-type(2n) {
        background: #efefef;
      }

      >div {
        padding: 16px;
        flex-basis: 0;
        flex-grow: 1;
        min-width: 140px;

        &:nth-of-type(3) {
          flex-grow: 3;
          min-width: 200px;
        }

        &:nth-of-type(4) {
          min-width: 100px;
          flex-grow: 0;
          text-align: center;

          >input {
            cursor: pointer;
            width: 24px;
            height: 24px;
          }
        }

        &:not(:last-of-type) {
          border-right: 1px solid #000;
        }
      }
    }
  }

  &.darkMode {
    background: #212121;
    color: #ddd;

    >.table {
      background: #292929;

      >.row {
        &:nth-of-type(2n) {
          background: #444;
        }
      }
    }
  }
}
