.container {
  padding: 64px;
  width: fit-content;
  position: relative;
  min-width: 100%;
  min-height: 100%;

  > h1 {
    margin-bottom: 8px;
  }

  > p {
    font-style: italic;
    font-size: 14px;
  }

  > ul {
    line-height: 32px;
  }

  > .buttons {
    position: absolute;
    top: 64px;
    right: 64px;
    display: flex;
    gap: 16px;

    > button {
      width: 48px;
      height: 48px;
      padding: 0;
      background: transparent;
      font-size: 48px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  > .footer {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    > button {
      width: 48px;
      height: 48px;
      padding: 0;
      background: transparent;
      font-size: 48px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  > .filters {
    display: flex;
    align-items: flex-end;
    margin: 8px 0 24px 0;
    gap: 16px;

    > input {
      padding: 8px 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 400px;
    }

    > label {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 2px;

      > span {
        font-size: 12px;
        color: #444;
      }

      > div {
        min-width: 160px;
        color: #000;
      }
    }
  }

  > .table {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;

    > .row {
      display: flex;

      &:first-of-type {
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
      }

      &:not(&:last-of-type) {
        border-bottom: 1px solid #000;
      }

      &:nth-of-type(2n) {
        background: #efefef;
      }

      &.selected {
        background: #fffdcc;
      }

      > .locations {
        white-space: pre-wrap;
      }

      > div {
        padding: 16px;
        flex-basis: 0;
        flex-grow: 1;
        min-width: 140px;

        &:nth-of-type(3) {
          flex-grow: 3;
          min-width: 200px;
        }

        &.small {
          min-width: 100px;
          flex-grow: 0;
          text-align: center;

          > a {
            font-size: 24px;
          }

          > input {
            cursor: pointer;
            width: 32px;
            height: 32px;
          }
        }

        &.medium {
          min-width: 160px;
          flex-grow: 0;
        }

        &:not(:last-of-type) {
          border-right: 1px solid #000;
          max-height: 300px;
          overflow: scroll;
        }
      }
    }
  }

  &.darkMode {
    background: #212121;
    color: #ddd;

    .filters {
      label > span {
        color: #ddd;
      }
    }

    > .table {
      background: #292929;

      > .row {
        &:nth-of-type(2n) {
          background: #444;
        }

        &.selected {
          background: #131313;
        }
      }
    }
  }
}
