* {
  box-sizing: border-box;
  word-break: break-word;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: #2196f3;
  text-decoration: none;

  &:visited {
    color: purple;
  }

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
